html, body {
    margin: 0;
    padding: 0;
    font-family: montserrat, sans-serif;
    height: 100%;
    gap: 0;
}
h2{
    padding: 0;
    margin: 0;
}
.header {
    margin: 0;
    padding: 1.5vw;
    padding-left: 2vw;
    padding-right: 2vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    background-color: rgb(0, 0, 0);
    box-sizing: border-box;
}
.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    color:antiquewhite;
    font-size: 2vh;
    white-space: nowrap;
    gap: 1vw;
}
.logof{
    width: 5vh;
    height: auto;
    border-radius: 1vh;
    outline: solid;
    outline-color: rgb(83, 83, 83);
    outline-width: 0.00001vw;
}
a {
  text-decoration: none;
  color: inherit;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;   
    display: flex;        
    gap: 1.5vw;
    font-size: 1.2vh;           
}
.nav1 {
    margin-left: auto;
    right: 0;
    color: antiquewhite;
}
.video-container{
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 80%, rgba(0,0,0,0) 100%);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: cover;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 80%, rgba(0,0,0,0) 90%);
    mask-repeat: no-repeat;
    mask-size: cover;
    z-index: 5;
}
.video-home {
    width: 100%;
    height: auto;
    z-index: 9;
    position: relative;
    display: block;
    -webkit-filter: brightness(50%);
}
.home-site{
    display: flex;
    margin: 0;
    margin-bottom: -15vw;
    padding: 0;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background: black;
    z-index: 5;
}
.video-container .overlay-text{
    z-index: 10;
    display: flex;
    color: whitesmoke;
    font-size: 5vw;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.overlay-button{
    z-index: 10;
    display: flex;
    color: white;
    font-size: 3.5vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background: none;
    outline: none;
    border: none;
    font-family: "montserrat", sans-serif;
}
.perfums{
    position: relative;
    padding-top: 20vw;
    min-height: 65vw;
    max-height: 100vh;
    margin-bottom: -10vw;
    z-index: 3;
}
.perfums::before{
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    position: absolute;
    height: 100%;
    animation: brilho 5s infinite;
    background: url("fundoasad.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 80%, rgba(0,0,0,0) 100%);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: cover;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 90%, rgba(0,0,0,0) 100%);
    mask-repeat: no-repeat;
    mask-size: cover;
}
.texts-perfum{
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    flex-direction: column;
    color: antiquewhite;
    z-index: 10;
    margin: 0;
    padding: 0;
    gap: 0;
    justify-content: center;
    -webkit-filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.7));
}
.title-perfum{
    font-size: 5vw;
}
.asad3d{
    position: absolute;
    top: 50%;
    transform: translateY(-45%);
    left: 5%;
    width: fit-content;
    -webkit-filter: drop-shadow(0px 0px 30px rgba(200, 200, 200, 0.514));
}
.text-perfum{
    font-size: 2.5vw;
}
.cta-button{
    background: #f5deb3;
    width: 60%;
    border-radius: 0.5vw;
    outline: none;
    border: none;
    font-family: "montserrat", sans-serif;
    font-size: 3vw;
}
.texto{
    white-space: nowrap;
    color: rgb(209, 174, 59);
    -webkit-filter: drop-shadow(0px 0px 5px rgb(190, 255, 37));
}
@keyframes brilho {
    0% {
        -webkit-filter: brightness(0.5);
    }
    41.66% { /* 5s de aumento em 12s total */
        -webkit-filter: brightness(1.2);
    }
    58.33% { /* 2s de pausa */
        -webkit-filter: brightness(1.2);
    }
    100% { /* 5s de redução */
        -webkit-filter: brightness(0.5);
    }
}