.tendencias{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    height: fit-content;
    padding-top: 8vw;
    padding-bottom: 8vw;
}
.tendencias::before{
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    position: absolute;
    height: 100%;
    background: url("fundotend.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    -webkit-filter: brightness(0.5);
    animation: brilho 5s ease-in-out infinite;
}
.title-tendencias{
    margin: 2vw;
    margin-bottom: 5vw;
    padding: 0;
    z-index: 4;
    color: antiquewhite;
    font-size: 6vw;
}
.image-carrossel {
    position: absolute;
    width: 60%;
    max-width: 60%;
    height: auto;
    border-radius: 3vw;
    z-index: 4;
    -webkit-filter: brightness(0.5);
}
.carrossel{
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    flex-direction: row;
    overflow: hidden;
    position: relative;
    height: fit-content;
    padding-left: 0;
    box-sizing: border-box;
    -webkit-filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.7));
}
.slides{
    display: flex;
    min-width: 100%;
    flex-direction: column;
    margin: 0;
    padding: 0;
    place-items: center;
    animation: slide 12s infinite;
}
.title-carrossel{
    font-size: 6vw;
}
.c-carrossel{
    z-index: 5;
    color: antiquewhite;
    text-align: center;
    margin-top: 4vw;
    margin-bottom: 8vw;
    gap: 0;
}
.texto-carrossel{
    font-size: 3vw;
}
.b-carrossel{
    color: black;
    width: 30%;
    margin-bottom: 15vw;
}
@keyframes slide {
  0%   { transform: translateX(0%); }
  33%  { transform: translateX(0%); }
  36%  { transform: translateX(-100%); }
  66%  { transform: translateX(-100%); }
  69%  { transform: translateX(-200%); }
  100% { transform: translateX(-200%); }
}
